node_modules
dist
.DS_Store
.vite
*.local

# Captures d'écran de toutes les pages (trop lourdes pour le dépôt)
_capture/pages/
_capture/legacy-css/raw/

# Accueils alternatifs : conservés en local seulement
src/data/legacy/home-*.json
_capture/html/index.html
_capture/html/home-[1-5].html
_capture/html/home-[7-9].html

# Images utilisées uniquement par les accueils alternatifs
/public/wp/2020/07/10-1-560x379.jpg
/public/wp/2020/07/13-1-560x379.jpg
/public/wp/2020/07/4-1-560x379.jpg
/public/wp/2020/07/5-1-560x379.jpg
/public/wp/2020/07/6-1-560x379.jpg
/public/wp/2020/07/7-1-560x379.jpg
/public/wp/2020/07/8-1-560x379.jpg
/public/wp/2020/07/Image2.jpg
/public/wp/2020/07/Img-Over1.jpg
/public/wp/2020/07/Img-Over2.jpg
/public/wp/2020/07/Img-Over91.jpg
/public/wp/2020/07/Img-Over92.jpg
/public/wp/2020/07/Img-Over93.jpg
/public/wp/2020/07/Logo-1-home-7.svg
/public/wp/2020/07/Logo-1-home-8.svg
/public/wp/2020/07/Logo-1-home-9.svg
/public/wp/2020/07/Logo-2-home-7.svg
/public/wp/2020/07/Logo-2-home-8.svg
/public/wp/2020/07/Logo-2-home-9.svg
/public/wp/2020/07/Logo-3-home-7.svg
/public/wp/2020/07/Logo_home4.svg
/public/wp/2020/07/Logo_white_text-1.svg
/public/wp/2020/07/bg_slide_home_3_1.jpg
/public/wp/2020/07/bg_slide_home_3_3.jpg
/public/wp/2020/07/home-1-slide3.jpg
/public/wp/2020/07/home-2-slide1.jpg
/public/wp/2020/07/home-2-slide2.jpg
/public/wp/2020/07/home1_slide_1.jpg
/public/wp/2020/07/home2-slider-3.png
/public/wp/2020/07/home4_baner_1.jpg
/public/wp/2020/07/home4_baner_2.jpg
/public/wp/2020/07/home4_baner_3.jpg
/public/wp/2020/07/logo_home5_Black_Bg.svg
/public/wp/2020/07/logo_home5_White_Bg.svg
/public/wp/2020/08/1-1-600x447.jpg
/public/wp/2020/08/10-600x447.jpg
/public/wp/2020/08/11-600x447.jpg
/public/wp/2020/08/12-600x447.jpg
/public/wp/2020/08/13-600x447.jpg
/public/wp/2020/08/14-600x447.jpg
/public/wp/2020/08/15-600x447.jpg
/public/wp/2020/08/3-1-600x447.jpg
/public/wp/2020/08/4-1-600x447.jpg
/public/wp/2020/08/6-1-600x447.jpg
/public/wp/2020/08/7-600x447.jpg
/public/wp/2020/08/9-600x447.jpg
/public/wp/2020/08/home1_bg_blog.jpg
/public/wp/2020/08/home1_img_1.jpg
/public/wp/2020/08/home1_img_2.jpg
/public/wp/2020/08/home1_img_3.png
/public/wp/2020/08/home2_bg_1.jpg
/public/wp/2020/08/home2_bg_mail.png
/public/wp/2020/08/home2_icon_1.png
/public/wp/2020/08/home2_icon_apple.png
/public/wp/2020/08/home2_icon_google_play.png
/public/wp/2020/08/home2_signature.png
/public/wp/2020/09/home1_1.jpg
/public/wp/2020/09/home1_2.jpg
/public/wp/2020/09/home1_3.jpg
/public/wp/2020/10/bg_home-4.jpg
/public/wp/2020/10/bg_home-4_1.jpg
/public/wp/2020/10/bg_home3.jpg
/public/wp/2020/10/home3_signature.png
/public/wp/2020/10/icon_home_3.png
/public/wp/2020/10/img_bg_home_3_1.jpg
/public/wp/2020/10/img_home3_1.jpg
/public/wp/2020/10/img_home3_2.jpg
/public/wp/2020/10/testimonial_1.jpg
/public/wp/2020/10/testimonial_2.jpg
/public/wp/2020/10/testimonial_4.jpg
/public/wp/2020/10/testimonial_5.jpg
/public/wp/2020/10/testimonial_6.jpg
/public/wp/2020/11/Bg_count_home5.jpg
/public/wp/2020/11/bg1_home5.jpg
/public/wp/2020/11/bg_footer_home5.jpg
/public/wp/2020/11/bg_portfolio.jpg
/public/wp/2020/11/bg_video.jpg
/public/wp/2020/11/man.png
/public/wp/2020/11/man2.jpg
/public/wp/2020/11/mision1.jpg
/public/wp/2020/11/mision2.jpg
/public/wp/2020/11/mision3.jpg
/public/wp/2020/11/mision4.jpg
/public/wp/2020/11/women-home-5.jpg
/public/wp/2020/12/Circles.jpg
/public/wp/2020/12/Icon.jpg
/public/wp/2020/12/Icon2.png
/public/wp/2020/12/Img-Over21.jpg
/public/wp/2020/12/Img-Over22.jpg
/public/wp/2020/12/Img-over23.jpg
/public/wp/2020/12/Img.jpg
/public/wp/2020/12/Img1.jpg
/public/wp/2020/12/Img11.jpg
/public/wp/2020/12/Img12.jpg
/public/wp/2020/12/Img13.jpg
/public/wp/2020/12/Img2.jpg
/public/wp/2020/12/Img3-1.jpg
/public/wp/2020/12/Img3.jpg
/public/wp/2020/12/Img4-1.jpg
/public/wp/2020/12/Img4.jpg
/public/wp/2020/12/Img911.jpg
/public/wp/2020/12/Logo3.png
/public/wp/2020/12/Map-Bg-Img.png
/public/wp/2020/12/Map.png
/public/wp/2020/12/Map2.png
/public/wp/2020/12/Pattern-92.jpg
/public/wp/2020/12/Pattern-Bg2.png
/public/wp/2020/12/Pattern-Img.png
/public/wp/2020/12/Pattern.jpg
/public/wp/2020/12/Pattern1.png
/public/wp/2020/12/Play-Video.jpg
/public/wp/2020/12/Signature.png
/public/wp/2020/12/Wave-1.jpg
/public/wp/2021/01/46-Causes-List3.jpg
/public/wp/2021/01/46-Causes-List4.jpg
/public/wp/elementor/thumbs/home2_iphone-r5qn9ysq6rtiddanjyyoys7404i6edgx8cmrguxa1g.png
/public/wp/elementor/thumbs/icon_play_home_3-r5qn9zqglnlif7k547h7v61n5g8z03f7rtrio0hicg.png
/public/wp/elementor/thumbs/icon_play_home_3-r5qn9zqgufcsqt6vzzngadtbcx3aqg2cy6ojwakyco.png
/public/wp/elementor/thumbs/-r5qn9zqja4xnyticttdsiji1flik1yhspruw73jeew.png