#7986c7e:not(.elementor-motion-effects-element-type-background), #7986c7e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#06163A; }
#7986c7e{border-style:solid;border-width:0px 0px 1px 0px;border-color:#E5E5E5;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; }
#7986c7e > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s; }
#7674d82{width:auto;max-width:auto; }
#7674d82 > .elementor-widget-container{margin:0px 38px 0px 0px; }
#7674d82 .ova-contact-info{justify-content:start; }
#7674d82 .ova-contact-info .address a{color:#EEEEEE; }
#7674d82 .ova-contact-info .address{color:#EEEEEE; }
#7674d82 .ova-contact-info .address span{color:#EEEEEE; }
#7674d82 .ova-contact-info .address a:hover{color:#FFFFFF; }
#f4c08b3{width:auto;max-width:auto; }
#f4c08b3 .ova-contact-info{justify-content:start; }
#f4c08b3 .ova-contact-info .address a{color:#EEEEEE; }
#f4c08b3 .ova-contact-info .address{color:#EEEEEE; }
#f4c08b3 .ova-contact-info .address span{color:#EEEEEE; }
#f4c08b3 .ova-contact-info .address a:hover{color:#FFFFFF; }
#f4c08b3 .ova-contact-info .address a span{color:#EEEEEE; }
#f4c08b3 .ova-contact-info .address a:hover span{color:#FFFFFF; }
.elementor-bc-flex-widget #26a4174.elementor-column .elementor-widget-wrap{align-items:center; }
#26a4174.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center; }
#26a4174.elementor-column > .elementor-widget-wrap{justify-content:flex-end; }
#9631a88 .elementor-button{background-color:rgba(2, 1, 1, 0);font-size:15px;font-weight:400;line-height:24px;fill:#EEEEEE;color:#EEEEEE;padding:0px 0px 0px 0px; }
#9631a88{width:auto;max-width:auto; }
#9631a88 > .elementor-widget-container{margin:0px 30px 0px 0px; }
#9631a88 .elementor-button:hover, #9631a88 .elementor-button:focus{color:#FF3514; }
#9631a88 .elementor-button:hover svg, #9631a88 .elementor-button:focus svg{fill:#FF3514; }
#6eaee1b .elementor-button{background-color:rgba(2, 1, 1, 0);font-size:15px;font-weight:400;line-height:24px;fill:#EEEEEE;color:#EEEEEE;padding:0px 0px 0px 0px; }
#6eaee1b{width:auto;max-width:auto; }
#6eaee1b > .elementor-widget-container{margin:0px 30px 0px 0px; }
#6eaee1b .elementor-button:hover, #6eaee1b .elementor-button:focus{color:#FF3514; }
#6eaee1b .elementor-button:hover svg, #6eaee1b .elementor-button:focus svg{fill:#FF3514; }
#a278aab .elementor-button{background-color:rgba(2, 1, 1, 0);font-size:15px;font-weight:400;line-height:24px;fill:#EEEEEE;color:#EEEEEE;padding:0px 0px 0px 0px; }
#a278aab{width:auto;max-width:auto; }
#a278aab .elementor-button:hover, #a278aab .elementor-button:focus{color:#FF3514; }
#a278aab .elementor-button:hover svg, #a278aab .elementor-button:focus svg{fill:#FF3514; }
.elementor-bc-flex-widget #444e1b4.elementor-column .elementor-widget-wrap{align-items:center; }
#444e1b4.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center; }
#444e1b4 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px; }
.elementor-bc-flex-widget #c4b7d3c.elementor-column .elementor-widget-wrap{align-items:center; }
#c4b7d3c.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center; }
#c4b7d3c.elementor-column > .elementor-widget-wrap{justify-content:flex-end; }
#c4b7d3c > .elementor-element-populated{padding:0px 0px 0px 0px; }
#4b28b1d{width:auto;max-width:auto; }
#4b28b1d .ova_nav ul.menu{flex-direction:row;padding:0px 0px 0px 0px;justify-content:flex-end;align-items:flex-end; }
#4b28b1d .ova_nav ul.menu > li > a{padding:40px 11px 40px 11px;font-family:"Cabin", Sans-serif;font-size:17px;font-weight:400;text-transform:capitalize;line-height:24px; }
#4b28b1d .ova_nav .dropdown-menu{min-width:13rem; }
#4b28b1d .ova_nav ul.menu .dropdown-menu{padding:15px 15px 15px 15px;border-style:solid;border-width:0px 0px 0px 0px;border-color:#323232;border-radius:0px 0px 0px 0px; }
#4b28b1d .ova_nav ul.menu .dropdown-menu li a{padding:5px 15px 5px 15px;font-family:"Cabin", Sans-serif;font-size:17px;font-weight:400;text-transform:capitalize;line-height:24px; }
#4b28b1d .ova_nav ul.menu .dropdown-menu li{border-style:solid;border-width:0px 0px 0px 0px;border-color:#3B3B3B; }
#4b28b1d .ova_nav ul.menu .dropdown-menu li:last-child{border-style:solid; }
#4b28b1d .ova_openNav{margin:0px 15px 0px 0px;padding:10px 15px 10px 15px;background-color:#242424;color:#FFFFFF;border-radius:5px 5px 5px 5px; }
#4b28b1d .ova_nav.canvas_bg_gray.canvas_bg_mobile ul.menu > li > a{color:#FFFFFF; }
#4b28b1d .ova_nav.canvas_bg_gray.canvas_bg_mobile ul.menu .dropdown-menu li a{color:#FFFFFF; }
#4b28b1d .dropdown button.dropdown-toggle{margin:7px 0px 0px 0px; }
#4b28b1d .ova_nav li a{border-style:solid;border-width:0px 0px 0px 0px;border-color:rgba(155, 155, 155, 0.12); }
#607ae9d{width:auto;max-width:auto; }
#607ae9d > .elementor-widget-container{margin:2px 0px 0px 25px; }
#607ae9d .ova_wrap_search_popup i{font-size:14px;border-style:none; }
#607ae9d .ova_wrap_search_popup{text-align:center; }
.elementor-bc-flex-widget #bee3a92.elementor-column .elementor-widget-wrap{align-items:center; }
#bee3a92.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center; }
#bee3a92.elementor-column > .elementor-widget-wrap{justify-content:flex-end; }
#bee3a92 > .elementor-element-populated{padding:0px 0px 0px 0px; }
#327617d{width:auto;max-width:auto; }
#5c9d8ba .elementor-button{background-color:rgba(2, 1, 1, 0);font-family:"Cabin", Sans-serif;font-size:18px;font-weight:400;line-height:24px;letter-spacing:0.2px;fill:#0067DA;color:#0067DA;border-style:solid;border-width:2px 2px 2px 2px;border-color:#0067DA;border-radius:0px 0px 0px 0px;padding:10px 20px 12px 18px; }
#5c9d8ba .elementor-button:hover, #5c9d8ba .elementor-button:focus{background-color:#FF3514;color:#FFFFFF;border-color:#FF3514; }
#5c9d8ba{width:auto;max-width:auto; }
#5c9d8ba > .elementor-widget-container{margin:0px 0px 0px 28px; }
#5c9d8ba .elementor-button:hover svg, #5c9d8ba .elementor-button:focus svg{fill:#FFFFFF; }
#daee2a2{margin-top:0px;margin-bottom:110px; }
#8533b2c > .elementor-element-populated{padding:0px 0px 0px 0px; }
#9e20b27 .cover_color{background-color:rgba(6, 22, 58, 0.4); }
#9e20b27{text-align:left; }
@media(max-width:1024px){#7674d82{width:100%;max-width:100%; }
#f4c08b3{width:100%;max-width:100%; }
#4b28b1d .ova_nav ul.menu > li > a{padding:10px 15px 10px 15px; }
#4b28b1d .ova_nav ul.menu .dropdown-menu{padding:10px 25px 10px 25px;border-width:0px 0px 1px 0px; }
#4b28b1d .ova_nav ul.menu .dropdown-menu li a{padding:8px 0px 8px 0px; }
#4b28b1d .ova_nav ul.menu .dropdown-menu li{border-width:0px 0px 1px 0px; }
#4b28b1d .ova_nav ul.menu .dropdown-menu li:last-child{border-width:0px 0px 0px 0px; }
#4b28b1d .ova_nav li a{border-width:0px 0px 1px 0px; }
 }
@media(max-width:767px){#26a4174.elementor-column > .elementor-widget-wrap{justify-content:flex-start; }
#26a4174 > .elementor-element-populated{margin:-15px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px; }
#444e1b4{width:50%; }
#c4b7d3c{width:50%; }
 }
@media(min-width:768px){#444e1b4{width:14.646%; }
#c4b7d3c{width:56.85%; }
#bee3a92{width:27.807%; }
 }
@media(max-width:1024px) and (min-width:768px){#444e1b4{width:30%; }
#c4b7d3c{width:70%; }
 }
